/*TODO: Donate to https://transfonter.org/*/
/*TODO: donate to Alarm Clock creator https://www.dafont.com/alarm-clock.font?af=on&l[]=10&l[]=1#null*/
@font-face {
    font-family: 'alarm clock';
    src:local('alarm clock'),
        url('./../fonts/subset-alarmclock.woff2') format('woff2'),
        url('./../fonts/subset-alarmclock.woff') format('woff'),
        url('./../fonts/subset-alarmclock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

