:root {
    --calculator-body-color: #4D7BCD;
    --text-color: #E7EFF8;
    --groove-style: 1px solid rgba(0,0,0,0.2);
    --operation-button-color: #EE3946;
    --focus-color: yellow;
    --high-contrast-background-color: #FFF;
    --high-contrast-border-color: #000;
    --high-contrast-text-color: #000;
    --high-contrast-focus-color: blue;

}