.BasicOperations {
    grid-area: basicOps;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

.BasicOperations .BasicOperations-EqualButton {
    grid-row-start: span 2;
}