.Calculator {
    /*width: 223px;*/
    /*height: 390px;*/
    border-radius: 6px 6px 13px 13px;
    background-color: var(--calculator-body-color);
    box-shadow: -8px 8px 14px 2px rgba(0,0,100,0.2),
                0px 0px 3px 0px var(--calculator-body-color);
    display: grid;
    grid-template-columns: [main] 100%;
    grid-template-rows: [top-pad] 4.62% /*18px÷390px*/ [display] 12.05% /*47px÷390px*/ [solar-cell] 16.92% /*66px÷390px*/ [keypad] 59.48% /*232px/390px*/ [bottom-pad] 6.93% /*remaining space*/;
    grid-template-areas: "topPad"
                         "display"
                         "solarCell"
                         "keypad"
                         "bottomPad";
    place-items: stretch;
}

.Calculator .Calculator-Keypad {
    padding: 4.31% 4.48% 0 4.48% ;
}

.Calculator button:focus {
    outline: var(--focus-color) solid 3px !important;
}

[highcontrastmode] .Calculator {
    background-color: var(--high-contrast-background-color);
    box-shadow: none;
    border: 3px solid var(--high-contrast-border-color);
}

[highcontrastmode] .Calculator button:focus {
    outline: var(--high-contrast-focus-color) solid 3px !important;
}