.CompanyName {
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 10.56px;
    font-weight: 100;
}

[highcontrastmode] .CompanyName {
    color: var(--high-contrast-text-color);
}