.Display {
    grid-area: display;
    display: flex;
}

.Display-Gutter {
    width: 11.21% /*25px÷223px*/;
    border-top: var(--groove-style);
    border-bottom: var(--groove-style);
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAAEklEQVQYV2NkwAS+jLgEfdElABlnAOteXpCNAAAAAElFTkSuQmCC) repeat; /* http://bit.ly/2KNLisx */
}

.Display-ScreenSection { /* TODO: Replace solid colors with gradients */
    flex-grow: 1;
    border-top: #214B7B solid 5px;
    border-right: #38587B solid 1px;
    border-bottom:#4E90D3 solid 4px;
    border-left: #3E6283 solid 4px;
}

[highcontrastmode] .Display-Gutter {
    visibility: hidden;
}

[highcontrastmode] .Display-ScreenSection {
    border: 3px solid var(--high-contrast-border-color);
}