.KeyHOC {
    --border-style: 1px solid black;
    --shadow-style: 1px 1px 2px 0px rgba(0,0,0,0.7),
                    -1px -1px 1px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
    /*border-top: var(--border-style);
    border-left: var(--border-style);*/
    border: var(--border-style);
    box-shadow: var(--shadow-style);
    /* height: 79.26397735314931%; /* 28px / 35.325(grid-cell-height)*/
    /* width: 86.89686713926366%; /* 38 / 43.73 (grid-cell-width) */ /*close but percentages don't double nicely-- need a calc on difference of "padding" instead*/
    height: calc(100% - 7.325px); /* 35.325(grid-cell-height)  = 28px */ 
    width: calc(100% - 5.73px); /* 43.73 (grid-cell-width) = 38px  */
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQYV2P8//+/LwMDwzNGRsazDAwMDIz///83BjNgAiAOMmBEFwAA+GUJBWLPXiwAAAAASUVORK5CYII=) repeat;*/ /*http://bit.ly/2KOjL9F*/
}

.KeyHOC:focus, .KeyHOC:hover, .KeyHOC:active {
    outline: 0;
}

.KeyHOC:active {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7)
}

[highcontrastmode] .KeyHOC, 
[highcontrastmode] .KeyHOC:active  {
    border: 2px solid var(--high-contrast-border-color);
    box-shadow: none;
}