.KeypadSection {
    grid-area: keypad;
    border-top: var(--groove-style);
    padding: 10px 10px 0 10px;
}

[highcontrastmode] .KeypadSection {
    border-top-color: var(--high-contrast-background-color);
    border-top-color: transparent;
}