.Keypad {
    --column-width: 22.656750233955574%; /* 46px ÷ 203.03 */
    --row-height: 16.71485363209252%; /* 37px ÷ 221.36 */
    border: var(--groove-style);
    border-radius: 7px;
    height: 100%;
    width: 100%;
    padding: 1.97%;
    display: grid;
    grid-template-columns: repeat(3, var(--column-width)) 1fr var(--column-width);
    grid-template-rows: repeat(6, var(--row-height));
    grid-template-areas: "advancedOps   advancedOps   advancedOps   gutter   basicOps"
                         "memoryOps     memoryOps     memoryOps     gutter   basicOps"
                         "numberPad     numberPad     numberPad     gutter   basicOps"
                         "numberPad     numberPad     numberPad     gutter   basicOps"
                         "numberPad     numberPad     numberPad     gutter   basicOps"
                         "numberPad     numberPad     numberPad     gutter   basicOps";
}

[highcontrastmode] .Keypad {
    border-color: var(--high-contrast-border-color);
}