.NumberKey {
    background-color: #FBFBF9;
    font-family: monospace;
    font-size: 123%;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
}

.NumberKey-Number {
    display: inline;
    margin: -23%;
}

[highcontrastmode] .NumberKey {
    background-color: var(--high-contrast-background-color);
    color: var(--high-contrast-text-color);
    align-items: center;
    justify-content: center;
    font-size: 120%;
}