.NumberPad {
    grid-area: numberPad;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.NumberPad .NumberPad-PowerButton {
    padding-left: 5%;
}