.OperationKey {
    background-color: var(--operation-button-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 85%;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    padding-left: 12%;
}

.OperationKey-Number {
    display: inline;
    margin-top: -6%;
}

[highcontrastmode] .OperationKey {
    background-color: var(--high-contrast-background-color);
    color: var(--high-contrast-text-color);
    align-items: center;
    justify-content: center;
    font-size: 100%;
}