.PhotovoltaicSolarCellsPanel {
    height: 30px;
    width: 66px;
    background-color: #3C4642;
    box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.7),
                inset -1px -1px 1px 1px rgba(0,0,0,0.3);
    display: flex;
}

.PhotovoltaicSolarCellsPanel .Cell {
    width: 25%;
    border-right: 1px solid #060A0D;
    border-left: 1px solid #060A0D;
}

.PhotovoltaicSolarCellsPanel .Cell:first-of-type {
    border-left: none;
}

.PhotovoltaicSolarCellsPanel .Cell:last-of-type {
    border-right: none;
}

[highcontrastmode] .PhotovoltaicSolarCellsPanel {
    background-color: var(--high-contrast-background-color);
    box-shadow: none;
    border: 2px solid var(--high-contrast-border-color);
}

[highcontrastmode] .PhotovoltaicSolarCellsPanel .Cell {
    border-right-color: var(--high-contrast-border-color);
    border-left-color: var(--high-contrast-border-color);
}