.DisplayScreen {
    font-family: 'alarm clock', monospace;
    background-color: #797E6F;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 197%;
    font-weight: bold;
    text-align: right;
}

.DisplayLCD {
    background-color: #D6D3CC;
    width: calc(100% - 6.93601525923357%);
    height: calc(100% - 25.53734837199404%);
    border-radius: 3px;
    position: relative; /* temp */
}

.MemoryIndicator {
    font-family: monospace;
    font-style: italic;
    font-size: 0.65em;
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 0;
}

.ErrorIndicator {
    font-family: monospace;
    font-style: italic;
    font-size: 0.65em;
    font-weight: bold;
    position: absolute;
    left: 5px;
    bottom: 0;
}

[highcontrastmode] .DisplayScreen,
[highcontrastmode] .DisplayLCD {
    background-color: var(--high-contrast-background-color);
}