.SolarCellSection {
    grid-area: solarCell;
    text-transform: uppercase;
    margin: 1.36% /*9px÷66px*/ 5.38% /*12px÷223px*/;
    position: relative;
}

.SolarCellSection .Company {
    font-size: 66%;
    position: absolute;
    top: 5%;
    left: 0;
}

.SolarCellSection .Model {
    font-size: 150%;
    position: absolute;
    top: 0;
    right: 0;
}

.SolarCellSection .SolarCells {
    height: 50% /*33px÷66px*/;
    width: 44.39% /*99px÷223px*/;
    position: absolute;
    bottom: 0;
    left: 0;
}